<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Warn"
        internalLogFile="/Users/Thomas/Documents/logging/internal.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    <targets>
        <target xsi:type="File" name="allfile" filename="/Users/Thomas/Documents/logging/nlog-all-${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

        <target xsi:type="File" name="ownfile" filename="/Users/Thomas/Documents/logging/nlog-own-${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

        <target xsi:type="Null" name="blackhole" />
    </targets>

    <rules>
        <logger name="*" minLevel="Trace" writeTo="allfile" />
        <logger name="Microsoft.*" minLevel="Trace" writeTo="blackhole" final="True" />
        <logger name="*" minLevel="Trace" writeTo="ownfile" />
    </rules>

    <!-- <target xsi:type="File" name="recipes" filename="/Users/Thomas/Documents/logging/recipes-${shortdate}.log"
            layout="${longdate}|${logger}${uppercase:${level}}|${message} ${exception}" />

    <rules>
        <logger name="*" minLevel="Trace" writeTo="recipes" />
    </rules> -->
</nlog>