<form novalidate (ngSubmit)="saveRecipe(form)" #form="ngForm">
  <div>
    <label>
      <span>Name</span>
      <input name="name" type="text" placeholder="Name (required)" [(ngModel)]="recipe.name" #name="ngModel" required />
    </label>
    <div *ngIf="name.errors?.required && name.touched" class="error">
      Name is required
    </div>
  </div>
  <div>
    <span>Ingredients</span>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients; let in = index">
        <div>
          <span>Name</span>
          <input name="ingredientName-{{in}}" type="text" [(ngModel)]="ingredient.ingredientId" #ingredientId="ngModel" />
        </div>
        <div>
          <span>Amount</span>
          <input name="amount-{{in}}" type="text" [(ngModel)]="ingredient.amount" #amount="ngModel" />
        </div>
        <div>
          <span>Measurement</span>
          <input name="measurement-{{in}}" type="text" [(ngModel)]="ingredient.measurement" #measurement="ngModel" />
        </div>
        <div>
          <button type="button" (click)="removeIngredient(in)">Remove ingredient</button>
        </div>
      </li>
    </ul>
    <button type="button" (click)="addIngredient()">Add ingredient</button>
  </div>
  <div>
    <label>
      <span>Rating</span>
      <input name="rating" type="text" placeholder="Rating (required)" [(ngModel)]="recipe.rating" #rating="ngModel" required />
    </label>
    <div *ngIf="rating.errors?.required && rating.touched" class="error">
      Rating is required
    </div>
  </div>
  <div>
    <button type="submit" [disabled]="form.invalid">Save</button>
  </div>
</form>
<div *ngIf="saved">
  Recipe saved!
</div>
<button (click)="backToRecipes()">Back to recipes</button>
