<form novalidate (ngSubmit)="saveRecipe()" [formGroup]="recipeForm">
  <div>
    <label>
      <span>Name</span>
      <input type="text" placeholder="Name (required)" formControlName="name" required />
    </label>
    <div *ngIf="recipeForm.get('name').errors?.required && recipeForm.get('name').touched" class="error">
      Name is required
    </div>
  </div>
  <div>
    <button (click)="addIngredient()">Add ingredient</button>
  </div>
  <div>
    <label>
      <span>Rating</span>
      <input type="text" placeholder="Rating (required)" formControlName="rating" required />
    </label>
    <div *ngIf="recipeForm.get('rating').errors?.required && recipeForm.get('rating').touched" class="error">
      Rating is required
    </div>
  </div>
  <div>
    <button type="submit" [disabled]="recipeForm.invalid">Save</button>
  </div>
</form>
<div *ngIf="saved">
  Recipe saved!
</div>
<button (click)="backToRecipes()">Back to recipes</button>
