<form novalidate (ngSubmit)="saveRecipe(form)" #form="ngForm">
  <div>
    <label>
      <span>Name</span>
      <input name="name" type="text" placeholder="Name (required)" ngModel #name="ngModel" required />
    </label>
    <div *ngIf="name.errors?.required && name.touched" class="error">
      Name is required
    </div>
  </div>
  <div>
    <label>
      <span>Rating</span>
      <input name="rating" type="text" placeholder="Rating (required)" ngModel #rating="ngModel" required />
    </label>
    <div *ngIf="rating.errors?.required && rating.touched" class="error">
      Rating is required
    </div>
  </div>
  <button type="submit" [disabled]="form.invalid">Save</button>
</form>
