<fieldset ngModelGroup="ingredients">
  <div>
    <span class="ingredient-header">Ingredients</span>
    <ul>
      <li class="li-list-item" *ngFor="let ingredient of ingredients; let in = index">
        <div class="ingredient-column">
          <span>Name</span>
          <input name="ingredientName-{{in}}" type="text" [(ngModel)]="ingredient.ingredientId" #ingredientId="ngModel" />
        </div>
        <div class="ingredient-column">
          <span>Amount</span>
          <input name="amount-{{in}}" type="text" [(ngModel)]="ingredient.amount" #amount="ngModel" />
        </div>
        <div class="ingredient-column">
          <span>Measurement</span>
          <input name="measurement-{{in}}" type="text" [(ngModel)]="ingredient.measurement" #measurement="ngModel" />
        </div>
        <div class="ingredient-column">
          <button class="remove-ingredient-button glyphicon glyphicon-remove" type="button" (click)="removeIngredient(in)"></button>
        </div>
      </li>
    </ul>
    <button class="add-ingredient-button" type="button" (click)="addIngredient()">Add ingredient</button>
  </div>
</fieldset>
